body {
  background-color: #ffe5f1;
  font-size: large;
  font-family: monospace;
}
h1 {
  text-align: center;
  align-self: center;
  font-size: 60px;
  border-bottom: 5px solid black;
  max-width: 100%;
  margin-left: 20%;
  margin-right: 20%;
}
h2 {
  text-align: center;
  margin-bottom: 7%;
}
.reset {
  background-color: #ff8e9e;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  padding: 50px 50px;
  box-shadow: 0 9px #999;
}
.click {
  background-color: #ff8e9e;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  padding: 50px 50px;
  box-shadow: 0 9px #999;
}

.reset:active {
  background-color: #ff597b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.click:active {
  background-color: #ff597b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

input {
  font-size: 400%;
  text-align: center;
  font: bolder;
  box-shadow: -3px 3px 5px 5px rgb(74, 77, 67);
  padding: 20px;
}
.box {
  display: flex;
  flex-direction: column;
}
.top-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
.middle-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
.bottom-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-left,
.middle-left,
.bottom-left {
  margin-right: 10%;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.top-middle,
.middle-middle,
.bottom-middle {
  margin-right: 10%;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.top-right,
.middle-right,
.bottom-right {
  margin-right: 2%;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  /* filter: blur(5px); */
}
.info {
  display: flex;
  border: 5px solid black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 30%;
  background-color: #ff597b;
}

.player1-name,
.player2-name {
  width: 50%;
  text-align: left;
  height: 15px;
  font-size: large;
}
.player-1,
.player-2 {
  display: flex;
  width: 90%;
  margin-top: 7%;
  margin-left: 15px;
  justify-content: center;
}

.name2,
.name1 {
  align-self: center;
}
.dec {
  background-color: rgb(111, 210, 210);
  width: 90%;
  height: 80%;
}

.background {
  filter: blur(5px);
}
.submit {
  width: 30%;
}
